body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#game-container {
    background-color: #ff5;
    border: 1px solid black;
}
#start-btn {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: lightgray;
    cursor: pointer;
}
