@media only all and (max-width: 1050px){
    body{
        #top{
            header{
                .container{
                    .mobile-column {
                        display: block;
                    }
                    .main-menu {
                        display: none;
                    }
                }
            }
        }
    }
    
}

@media only all and (max-width: 768px){
    [class*="padding"] {
        padding: 70px 12px;
    }

    h1, h2 {
        font-size: $logo-text * 1.5 !important;
    }

    body{
        #top{
            /* main */
            main{
                background: none;
        
                .container{
                    padding: 50px 5px;
                    
                }
            }
            main:before {
                content: ' ';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.4;
                background-image: url('../img/main_background.jpg');
                background-repeat: no-repeat;
                background-position: 47% 0;
                background-size: cover;
              }
            /* book form */

            /* about */
            .section-about-padding{
                .auto-container{
                    .row{
                        .about-block{
                            .about-image{
                                #circles-0{
                                    display: none;
                                }
                            }   
                        }
                        .about-discription{
                            position: static;
                            padding: 0 25px;
                            margin: 0 auto;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }

            /* amenities */
            .section-amenities-padding{
                .auto-container{
                    .wrapper{
                        .row{
                            .icon-box{
                                margin: 0 10px 15px;
                                padding: 20px 10px !important;
                                width: auto !important;
                                flex: 100px 1 auto;
                            }
                        }
                    }
                }
            }

            /* contactform */
            .section-contactform-padding{
                .auto-container{
                    .row{
                        .contact-discription{
                            position: static;
                            padding: 0 25px;
                            margin: 0 auto;
                            width: 100%;
                            text-align: center;
                        }
                        .contact-form{
                            .contact-form-group{
                                #circles{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            
            /* footer */
            footer{
                padding: 50px 0 20px;

                .auto-container{
                    .row{
                        .contact-block{
                           width: 50% !important;
                           margin-bottom: 20px;
                           border-bottom: 1px solid $li-border;
                        }
                    } 
                }
            }
        }
    }
}

@media only all and (max-width: 560px){
    body{
        #top{
            header{
                .container{
                    padding: 0 10px;
                    justify-content: space-between;
                    .mobile-column{
                        right: 10px;
                    }
                    .link-btn{
                        display: none;
                    }
                }
            }
        }
    } 
}


@media only all and (max-width: 400px){
    [class*="padding"] {
        padding: 50px 5px;
    }

    h1, h2 {
        font-size: $logo-text !important;
    }

    body{
        #top{
            /* main */
            main{
                background: none;
        
                .container{
                    padding: 50px 5px;
                    
                }
            }
            main:before {
                content: ' ';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.4;
                background-image: url('../img/main_background.jpg');
                background-repeat: no-repeat;
                background-position: 47% 0;
                background-size: cover;
              }
            /* book form */

            /* about */
            .section-about-padding{
                .auto-container{
                    .row{
                        .about-block{
                            .about-image{
                                #circles-0{
                                    display: none;
                                }
                            }   
                        }
                        .about-discription{
                            position: static;
                            padding: 0 25px;
                            margin: 0 auto;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }

            /* amenities */
            .section-amenities-padding{
                .auto-container{
                    .wrapper{
                        .row{
                            .icon-box{
                                margin: 0 15px 15px;
                                padding: 30px 0;
                                width: 150px;
                                min-width: 100px;
                            }
                        }
                    }
                }
            }

            /* contctform */
            .section-contactform-padding{
                .auto-container{
                    .row{
                        .contact-discription{
                            position: static;
                            padding: 0 25px;
                            margin: 0 auto;
                            width: 100%;
                            text-align: center;
                        }
                        .contact-form{
                            .contact-form-group{
                                #circles{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            /* footer */
            footer{
                padding: 50px 0 20px;

                .auto-container{
                    .row{
                        .contact-block{
                           width: 85% !important;
                           margin-bottom: 20px;
                           border-bottom: 1px solid $li-border;
                        }
                    } 
                }
            }
        }
    }
}

