@media only all and (max-width: 1050px){
    body{
        #top{
            header{
                .container{
                    .mobile-column {
                        display: block;
                    }
                    .main-menu {
                        display: none;
                    }
                }
            }
        }
    }
    
}

@media only all and (max-width: 500px){
    body{
        #top{
            header{
                .container{
                    justify-content: center;
                    .mobile-column{
                        right: 20px;
                    }
                    .link-btn{
                        display: none;
                    }
                }
            }
        }
    }
    
}