@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;700&family=Open+Sans:wght@400;600;700&display=swap");
/* font-family */
/* font-size */
/* color */
@media only all and (max-width: 1500px) {
  main {
    background-position-x: -600px !important; } }
/* normolize */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 100%; }

/* common */
body {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #6e6e6e;
  line-height: 1.7em;
  font-weight: 400;
  background: #fff;
  /* header */
  /* main */
  /* booking form */
  /* spesial offers block */
  /* about us section */ }
  body header {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 75.15px;
    min-height: 75px; }
    body header .container {
      position: relative;
      width: 100%;
      max-width: 1290px;
      margin: 0 auto;
      height: 75.15px;
      min-height: 75px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      /* logo */
      /* navigation */
      /* header button */ }
      body header .container .logo {
        height: 48.15px;
        min-height: 48px; }
        body header .container .logo a {
          text-decoration: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          body header .container .logo a img {
            display: inline-block;
            vertical-align: middle;
            width: 48px;
            max-width: 100%;
            height: 48px;
            background: #fff; }
          body header .container .logo a span {
            vertical-align: middle;
            font-family: "Cormorant", Georgia, "Times New Roman", Times, serif;
            font-size: 32px;
            color: #2c2a49;
            font-weight: 500; }
      body header .container .main-menu {
        position: relative;
        font-size: 100%;
        visibility: visible;
        color: #6e6e6e;
        font-weight: 400;
        font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }
        body header .container .main-menu ul {
          width: 500px;
          height: 110px;
          position: relative;
          margin: 0 0 0 50px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          list-style: none;
          border: none;
          outline: none;
          font-size: 100%; }
          body header .container .main-menu ul li {
            position: relative;
            padding: 37px 0;
            margin-right: 30px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease; }
            body header .container .main-menu ul li a {
              padding-right: 15px;
              position: relative;
              display: block;
              text-align: center;
              font-size: 17px;
              font-weight: 500;
              line-height: 30px;
              text-transform: capitalize;
              color: #2c2a49;
              padding: 3px 0;
              opacity: 1; }
            body header .container .main-menu ul li a:hover {
              color: #ffc107; }
            body header .container .main-menu ul li a.expand-more::before {
              position: absolute;
              content: "\e5cf";
              right: -15px;
              top: 5px;
              font-family: 'Material Symbols Outlined'; }
            body header .container .main-menu ul li ul {
              position: absolute;
              left: 0;
              top: 100%;
              width: -webkit-max-content;
              width: -moz-max-content;
              width: max-content;
              min-width: 250px;
              z-index: 100;
              background-color: #2c2a49; }
              body header .container .main-menu ul li ul li {
                position: relative;
                width: 100%;
                padding: 0 25px; }
          body header .container .main-menu ul li::before {
            position: absolute;
            content: "";
            bottom: 30px;
            left: 0;
            width: 23px;
            height: 1px;
            opacity: 0; }
          body header .container .main-menu ul a:hover {
            color: #ffc107; }
      body header .container .link-btn {
        position: relative; }
        body header .container .link-btn a {
          padding: 11px 30px 10px;
          color: #222;
          background: #fff;
          border: 1px solid #e5e5e5;
          position: relative;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          overflow: hidden;
          text-align: center;
          z-index: 1;
          letter-spacing: 1px;
          font-weight: 500;
          -webkit-transition: .5s;
          transition: .5s;
          text-transform: uppercase;
          text-decoration: none; }
        body header .container .link-btn a:hover {
          color: #fff;
          background-color: #ffc107; }
  body main {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url(../img/main_background.jpg) no-repeat;
    background-size: cover;
    background-position: 0 0; }
    body main .container {
      min-height: 750px;
      padding: 100px 15px;
      position: relative;
      max-width: 1290px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      body main .container .inner {
        position: relative;
        max-height: 750px;
        padding: 0 10px; }
        body main .container .inner h4 {
          position: relative;
          display: block;
          font-size: 16px;
          font-weight: 500;
          color: #ffc107;
          margin-bottom: 15px;
          text-transform: uppercase;
          letter-spacing: 3px;
          line-height: 1.25em; }
        body main .container .inner h1 {
          color: #2c2a49;
          position: relative;
          text-transform: capitalize;
          line-height: 1;
          font-weight: 700;
          font-size: 64px;
          font-family: "Cormorant", Georgia, "Times New Roman", Times, serif;
          margin: 0 0 20px; }
        body main .container .inner p {
          color: #2c2a49;
          position: relative;
          font-size: 18px;
          line-height: 32px;
          margin: 0 0 15px; }
        body main .container .inner .link-btn {
          position: relative;
          padding-top: 20px;
          margin: 0 -10px; }
          body main .container .inner .link-btn a {
            margin: 0 10px 10px;
            padding: 17px 35px 16px;
            color: #222;
            background: #ffc107;
            border: 1px solid #e5e5e5;
            position: relative;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            letter-spacing: 1px;
            font-weight: 500;
            -webkit-transition: .5s;
            transition: .5s;
            text-transform: uppercase;
            text-decoration: none; }
          body main .container .inner .link-btn a:hover {
            color: #fff;
            background-color: #2c2a49; }
  body .auto-container {
    width: 100%;
    max-width: 1920px;
    padding: 20px 0 8px;
    background-color: #faf5f2;
    margin: 0 auto; }
    body .auto-container .booking-form {
      position: relative;
      max-width: 1290px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      body .auto-container .booking-form .form-group {
        margin: 0 10px 20px;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        body .auto-container .booking-form .form-group label {
          color: #2b2d42;
          font-weight: 500;
          text-transform: uppercase;
          margin-bottom: 7px;
          font-size: 15px;
          text-align: center;
          line-height: 1.8; }
        body .auto-container .booking-form .form-group input[type=date], body .auto-container .booking-form .form-group select {
          border-color: 1px solid #fff;
          background: #fff;
          width: 85%;
          height: 80px;
          padding: 0 10px;
          font-size: inherit;
          line-height: inherit; }
        body .auto-container .booking-form .form-group input[type=checkbox] {
          margin-right: 5px; }
        body .auto-container .booking-form .form-group span {
          color: #2b2d42;
          font-size: 13px;
          text-transform: uppercase; }
        body .auto-container .booking-form .form-group input[type=submit] {
          cursor: pointer;
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          color: #2c2a49;
          position: relative;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          overflow: hidden;
          padding: 30px 35px 31px;
          text-align: center;
          z-index: 1;
          letter-spacing: 1px;
          font-weight: 500;
          text-transform: uppercase;
          -webkit-transition: .5s;
          transition: .5s;
          background-color: #ffc107; }
        body .auto-container .booking-form .form-group input[type=submit]:hover {
          color: #fff;
          background-color: #2c2a49; }
  body .section-offer-padding {
    padding: 190px 0 120px;
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto; }
    body .section-offer-padding .grey-bg {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 340px;
      background-color: #faf5f2; }
    body .section-offer-padding .auto-container {
      position: static;
      max-width: 1290px;
      padding: 0 15px;
      margin: 0 auto;
      background: #fff; }
      body .section-offer-padding .auto-container .section-heading {
        position: relative;
        z-index: 1;
        margin-bottom: 60px;
        text-align: center; }
        body .section-offer-padding .auto-container .section-heading span {
          font-size: 16px;
          color: #ffc107;
          margin-bottom: 6px;
          display: inline-block;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 5px;
          position: relative; }
        body .section-offer-padding .auto-container .section-heading h2 {
          font-size: 60px;
          font-weight: 700;
          line-height: 1;
          position: relative;
          color: #2b2d42;
          font-family: "Cormorant", Georgia, "Times New Roman", Times, serif;
          text-transform: capitalize; }
      body .section-offer-padding .auto-container .row {
        margin: 0 -15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        body .section-offer-padding .auto-container .row .offer-block {
          position: relative;
          visibility: visible;
          padding: 0 40px;
          margin-bottom: 60px;
          text-align: center; }
          body .section-offer-padding .auto-container .row .offer-block .offer-image {
            position: relative;
            margin-bottom: 31px;
            overflow: hidden; }
            body .section-offer-padding .auto-container .row .offer-block .offer-image img {
              width: 100%;
              -webkit-transition: .7s;
              transition: .7s; }
          body .section-offer-padding .auto-container .row .offer-block .offer-title {
            margin-bottom: 15px;
            font-size: 30px;
            font-weight: 700;
            position: relative;
            line-height: 1.25em;
            background: none;
            color: #2b2d42;
            font-family: "Cormorant", Georgia, "Times New Roman", Times, serif; }
          body .section-offer-padding .auto-container .row .offer-block .offer-text {
            position: relative;
            margin-bottom: 0;
            line-height: 1.8;
            font-size: 16px; }
          body .section-offer-padding .auto-container .row .offer-block .offer-link {
            position: relative; }
            body .section-offer-padding .auto-container .row .offer-block .offer-link .offer-link-btn {
              width: 60px;
              height: 60px;
              background: #fff;
              -webkit-box-shadow: 0 10px 80px rgba(0, 0, 0, 0.2);
                      box-shadow: 0 10px 80px rgba(0, 0, 0, 0.2);
              border-radius: 30px;
              display: inline-block;
              text-align: center;
              line-height: 66px;
              position: relative;
              -webkit-transform: translateY(50%);
                      transform: translateY(50%);
              font-size: 32px;
              z-index: 1;
              color: #2b2d42;
              text-decoration: none;
              -webkit-transition: .3s;
              transition: .3s; }
              body .section-offer-padding .auto-container .row .offer-block .offer-link .offer-link-btn .icon {
                font-family: 'Material Symbols Outlined';
                font-style: normal;
                font-weight: 400;
                -webkit-font-feature-settings: normal;
                        font-feature-settings: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                text-align: center; }
              body .section-offer-padding .auto-container .row .offer-block .offer-link .offer-link-btn .icon::before {
                content: "\e5c8"; }
            body .section-offer-padding .auto-container .row .offer-block .offer-link .offer-link-btn:hover {
              color: #fff; }
            body .section-offer-padding .auto-container .row .offer-block .offer-link .offer-link-btn::before {
              background: #ffc107;
              position: absolute;
              content: "";
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              -webkit-transform: scale(0);
                      transform: scale(0);
              border-radius: 50%;
              z-index: -1;
              -webkit-transition: all .5s ease;
              transition: all .5s ease; }
            body .section-offer-padding .auto-container .row .offer-block .offer-link .offer-link-btn:hover::before {
              -webkit-transform: scale(1);
                      transform: scale(1); }
        body .section-offer-padding .auto-container .row .offer-block:hover .offer-image img {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }
        body .section-offer-padding .auto-container .row .offer-block::before {
          position: absolute;
          content: "";
          top: 118px;
          left: 0;
          right: 0;
          bottom: 0;
          background: #fff;
          -webkit-box-shadow: 0 15px 80px rgba(0, 0, 0, 0.1);
                  box-shadow: 0 15px 80px rgba(0, 0, 0, 0.1);
          -webkit-animation-duration: 0.8s;
                  animation-duration: 0.8s;
          -webkit-animation-delay: 0.2s;
                  animation-delay: 0.2s; }
  body .section-about-padding {
    padding: 80px 0 120px;
    background-color: #faf5f2;
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto; }
    body .section-about-padding .auto-container {
      position: static;
      max-width: 1320px;
      padding: 0 15px;
      margin: 0 auto; }
      body .section-about-padding .auto-container .row {
        margin: 0 -15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        body .section-about-padding .auto-container .row .about-block {
          padding: 0 15px;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 auto;
                  flex: 0 0 auto;
          width: auto;
          max-width: 100%; }
          body .section-about-padding .auto-container .row .about-block .about-image {
            margin-bottom: 30px;
            position: relative; }
            body .section-about-padding .auto-container .row .about-block .about-image #circles {
              position: absolute;
              left: -120px;
              top: -110px;
              -webkit-transition: all .7s ease;
              transition: all .7s ease; }
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover {
              -webkit-transform: rotate(-150deg);
                      transform: rotate(-150deg); }
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p1,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p2,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p3,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p4,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p5,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p6,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p7,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p8,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p9,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p10,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p11,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p12,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p13,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p14,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p15,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p16,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p17,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p18,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p19,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p20,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p21,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p22,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p23,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p24,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p25,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p26,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p27,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p28,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p29,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p30,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g1 #p31 {
              fill: #2c2a49 !important;
              -webkit-transition-delay: .2s;
                      transition-delay: .2s; }
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p1,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p2,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p3,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p4,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p5,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p6,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p7,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p8,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p9,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p10,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p11,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p12,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p13,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p14,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p15,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p16,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p17,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p18,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p19,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p20,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p21,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p22,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p23,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p24,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p25,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p26,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p27,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p28,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p29,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p30,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p31,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p32,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p33,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p34,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p35,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p36,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p37,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p38,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p39,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p40,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p41,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g2 #p42 {
              fill: #2c2a49 !important;
              -webkit-transition-delay: .3s;
                      transition-delay: .3s; }
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p1,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p2,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p3,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p4,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p5,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p6,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p7,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p8,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p9,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p10,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p11,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p12,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p13,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p14,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p15,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p16,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p17,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p18,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p19,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p20,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p21,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p22,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p23,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p24,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g3 #p25 {
              fill: #2c2a49 !important;
              -webkit-transition-delay: .4s;
                      transition-delay: .4s; }
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p1,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p2,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p3,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p4,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p5,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p6,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p7,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p8,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p9,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p10,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p11,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p12,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p13,
            body .section-about-padding .auto-container .row .about-block .about-image #circles:hover #g4 #p14 {
              fill: #2c2a49 !important;
              -webkit-transition-delay: .5s;
                      transition-delay: .5s; }
            body .section-about-padding .auto-container .row .about-block .about-image .image {
              position: relative;
              overflow: hidden;
              -webkit-transition: all .8s ease;
              transition: all .8s ease; }
            body .section-about-padding .auto-container .row .about-block .about-image .image:hover {
              -webkit-transform: scale(1.05);
                      transform: scale(1.05); }
        body .section-about-padding .auto-container .row .about-discription {
          padding: 20px 10px;
          padding-left: .5rem;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 auto;
                  flex: 0 0 auto;
          width: 50%;
          max-width: 100%; }
          body .section-about-padding .auto-container .row .about-discription .section-heading {
            position: relative;
            z-index: 1;
            margin-bottom: 20px; }
            body .section-about-padding .auto-container .row .about-discription .section-heading span {
              font-size: 16px;
              color: #ffc107;
              margin-bottom: 6px;
              display: inline-block;
              font-weight: 500;
              text-transform: uppercase;
              letter-spacing: 5px;
              position: relative; }
            body .section-about-padding .auto-container .row .about-discription .section-heading h2 {
              font-size: 56.8px;
              font-weight: 700;
              line-height: 1;
              position: relative;
              color: #2b2d42;
              font-family: "Cormorant", Georgia, "Times New Roman", Times, serif;
              padding-right: 15px;
              text-transform: capitalize; }
            body .section-about-padding .auto-container .row .about-discription .section-heading p {
              position: relative;
              margin-bottom: 0;
              line-height: 1.8;
              font-size: 16px; }
          body .section-about-padding .auto-container .row .about-discription .about-btn {
            position: relative;
            padding-top: 20px;
            margin: 0 -10px; }
            body .section-about-padding .auto-container .row .about-discription .about-btn a {
              margin: 0 10px 10px;
              padding: 17px 35px 16px;
              color: #222;
              background: #ffc107;
              border: 1px solid #e5e5e5;
              position: relative;
              display: -webkit-inline-box;
              display: -ms-inline-flexbox;
              display: inline-flex;
              overflow: hidden;
              text-align: center;
              z-index: 1;
              letter-spacing: 1px;
              font-weight: 500;
              -webkit-transition: .5s;
              transition: .5s;
              text-transform: uppercase;
              text-decoration: none; }
            body .section-about-padding .auto-container .row .about-discription .about-btn a:hover {
              color: #fff;
              background-color: #2c2a49; }

/*# sourceMappingURL=style.css.map */