/* font-family */
$title: 'Cormorant', Georgia, 'Times New Roman', Times, serif;
$text: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

/* font-size */
$simple-text: 16px;
$links-text: 17px;
$logo-text: 32px;

/* color */
$common: #6e6e6e;
$theme-color: #c77a63;
$title-color: #2c2a49;
$yellow: #ffc107;
$backg: #fff;
$btn-text: #222;
$btn-border: #e5e5e5;
