/* шрифт 'Cormorant' */
@font-face {
    font-family: 'Cormorant', Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Cormorant/Cormorant-VariableFont_wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}

@font-face {
    font-family: 'Cormorant', Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Cormorant/Cormorant-Italic-VariableFont_wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}

@font-face {
    font-family: 'Cormorant', Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Cormorant/Cormorant-VariableFont_wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}

@font-face {
    font-family: 'Cormorant', Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Cormorant/Cormorant-Italic-VariableFont_wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}

@font-face {
    font-family: 'Cormorant', Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Cormorant/Cormorant-VariableFont_wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}

@font-face {
    font-family: 'Cormorant', Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Cormorant/Cormorant-Italic-VariableFont_wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}

@font-face {
    font-family: 'Cormorant', Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Cormorant/Cormorant-VariableFont_wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}

@font-face {
    font-family: 'Cormorant', Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Cormorant/Cormorant-Italic-VariableFont_wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}

/* шрифт 'Open Sans' */
@font-face {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}
@font-face {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}

@font-face {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}

@font-face {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}

@font-face {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}

@font-face {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
    unicode-range: U+0460-052f,
        U+1c80-1c88,
        U+20b4,
        U+2de0-2dff,
        U+a640-a69f,
        U+fe2e-fe2f
}