* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 100%; }

.fixed {
  position: fixed;
  text-align: center;
  top: 15px;
  right: 15px;
  border: 1px solid green;
  background: lightgreen;
  color: blue;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 5px; }

header {
  line-height: 45px;
  width: 100%;
  background-color: #add8e6;
  color: blue; }
  header h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .content #nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    padding: 0 10px;
    background: #f0e68c; }
    .content #nav h4 {
      line-height: 300%;
      margin-left: .5em; }
    .content #nav ul {
      margin-left: .5em;
      list-style: disc; }
      .content #nav ul li {
        margin: 0 1em 0 1em;
        font-size: .9em; }
  .content #main {
    background: white url(img/ball.png) top right repeat-y;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
    .content #main #copyright {
      float: right;
      display: none; }
    .content #main #copyright + div {
      display: none; }
    .content #main h3 {
      text-transform: uppercase;
      text-align: center;
      line-height: 300%; }
    .content #main img {
      float: left;
      margin: 0 20px 15px 20px; }
    .content #main p {
      padding: 0 0 1em 1em;
      font-size: .9em; }

footer {
  line-height: 65px;
  width: 100%;
  background-color: #add8e6;
  color: blue; }
  footer h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter; }

@media only print {
  * {
    color: #646464;
    background: none !important; }

  img {
    display: none; }

  p {
    text-align: justify; }

  header,
  footer,
  .fixed,
  #nav {
    display: none !important; }

  #main {
    margin: 0 !important; }

  #copyright {
    display: block !important;
    font-size: 1.5em; }

  #copyright + div {
    display: block !important; } }
@media only screen and (max-width: 560px) {
  .fixed {
    top: 48px; }

  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .content #nav {
      width: 100%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; }
      .content #nav ul {
        list-style: none;
        margin: 0; }
        .content #nav ul li {
          display: inline; }
    .content #main {
      margin: 0;
      background: none white;
      text-align: center; }
      .content #main #copyright {
        display: none; }
      .content #main img {
        float: none;
        width: 95%;
        text-align: center;
        margin: 0 auto;
        margin-top: 7px; }
      .content #main p {
        margin: 0;
        padding: 0 10px;
        text-align: justify;
        text-indent: 10px; } }
@media only screen and (max-width: 325px) {
  .fixed {
    top: 94px; }

  h3 {
    text-align: left !important;
    margin-left: .5em; } }

/*# sourceMappingURL=style.css.map */