.map
{
    position: relative;
    text-align: center;
}
svg
{
    position: absolute;
    top: -2px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.obl
{
    opacity: 0.4;
    cursor: pointer;
    transition: 0.3s;
}
.obl:hover
{
    opacity: 0.8;
    transition: 0.3s;
}