* {
    margin: 0;
    padding: 0;
}

/* стили для всех */

body {
    font-family: Arial, sans-serif;
}
.fixed {
    position: fixed;
    text-align: center;
    top: 15px;
    right: 15px;
    border: 1px solid green;
    background: lightgreen;
    color: blue;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 5px;
}

header {
    line-height: 45px;

}

footer {
    line-height: 65px;
}

.topbot {
    width: 100%;
    background-color: rgb(173, 216, 230);
    color: blue;

}

h2,
h3 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-weight: lighter;
}

h3,
h4 {
    line-height: 300%;
}

h4 {
    margin-left: .5em;
    padding-top: .5em;
}

ul {
    margin-left: .5em;
    list-style: disc;
}

li {
    margin: 0 1em 0 1em;
    font-size: .9em;
}

.content {
    width: 100%;
    background-color: rgb(240, 230, 140);
}

#main {
    background: white url(img/ball.png) top right repeat-y;
    margin-left: 200px;
}

#copyright {
    float: right;
    display: none;
}

#copyright+div {
    display: none;
}

#nav {
    width: 200px;
    float: left;
}

img {
    float: left;
    margin: 0 20px 15px 20px;
}

p {
    padding: 0 0 1em 1em;
    font-size: .9em;
}

/* отображение печатных форм */

@media only print {
    * {
        color: rgb(100, 100, 100);
        background: none !important;
    }

    img {
        display: none;
    }

    p {
        text-align: justify;
    }

    header,
    footer,
    #nav {
        display: none;
    }

    #main {
        margin: 0 !important;
    }

    #copyright {
        display: block !important;
        font-size: 1.5em;
    }

    #copyright+div {
        display: block !important;
    }
}

/* стили для экранов <=450px */

@media only screen and (max-width: 450px) {
    * {
        font-size: 90%;
    }

    #nav {
        width: 100%;
        float: none;
    }

    ul {
        list-style: none;
    }

    li {
        display: inline;               
    }

    a {
        font-size: larger;
        text-align: justify;
    }

    #main {
        margin: 0;
        background: none white;
        text-align: center;
    }
    #copyright{display: none;}
    img {
        float: none;
        width: 95%;
        text-align: center;
        margin: 0 auto;
    }
    p {margin: .5em;text-align: justify;text-indent: 10px;}
}